<a href="https://colab.research.google.com/github/AnandSoni2001/ML-Programs/blob/main/Find-S/Find_S_Algo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Reading the Data

In [1]:
import pandas as pd
data=pd.read_csv('sports.csv')
data

     sky air_temp humidity    wind water forecast enjoy_sport
0  sunny     warm   normal  strong  warm     same         yes
1  sunny     warm     high  strong  warm     same         yes
2  rainy     cold     high  strong  warm   change          no
3  sunny     warm     high  strong  cool   change         yes

#Converting into a 2D List

In [2]:
df = data.values.tolist()
df

[['sunny', 'warm', 'normal', 'strong', 'warm', 'same', 'yes'],
 ['sunny', 'warm', 'high', 'strong', 'warm', 'same', 'yes'],
 ['rainy', 'cold', 'high', 'strong', 'warm', 'change', 'no'],
 ['sunny', 'warm', 'high', 'strong', 'cool', 'change', 'yes']]

#Defining Num of Attributes and Initializing Specific Hypothesis

In [3]:
num_attri = 6 #Enjoy_Sport column is target

specific = ['Î¦']*num_attri

for i in range(num_attri): 
  specific[i] = df[0][i]
  
print('Taking Example 1 : ', df[1], '\nInitial Specific Hypothesis : ', specific)

Taking Example 1 :  ['sunny', 'warm', 'high', 'strong', 'warm', 'same', 'yes']
Initial Specific Hypothesis :  ['sunny', 'warm', 'normal', 'strong', 'warm', 'same']

#Looping through Data

In [4]:
for i in range(len(df)): #Looping through Rows
  if df[i][num_attri]=='yes': #Check if enjoy_sport is yes
    print('\nAfter Example {} : {} \nSpecific Hypothesis : {}'.format(i+1, df[i], specific))
    for j in range(num_attri): #Looping through each column in a row
      if df[i][j]!=specific[j]: 
        specific[j]='?'
  
  else:
    print('\nAfter Example {} : {} \nSpecific Hypothesis : No Change'.format(i+1, df[i]))

After Example 1 : ['sunny', 'warm', 'normal', 'strong', 'warm', 'same', 'yes']
Specific Hypothesis : ['sunny', 'warm', 'normal', 'strong', 'warm', 'same']

After Example 2 : ['sunny', 'warm', 'high', 'strong', 'warm', 'same', 'yes']
Specific Hypothesis : ['sunny', 'warm', 'normal', 'strong', 'warm', 'same']

After Example 3 : ['rainy', 'cold', 'high', 'strong', 'warm', 'change', 'no']
Specific Hypothesis : No Change

After Example 4 : ['sunny', 'warm', 'high', 'strong', 'cool', 'change', 'yes']
Specific Hypothesis : ['sunny', 'warm', '?', 'strong', 'warm', 'same']

#Final Specific Hypothesis

In [5]:
specific

['sunny', 'warm', '?', 'strong', '?', '?']